<!DOCTYPE html>
<html>
<body>
	<form role="form">
		<div class="form-group">
			<label for="eventName" ng-model="eventInput">Event Name:</label>
			<input type="eventName" class="form-control" id="email">
		</div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Dropdown
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#">Sports</a></li>
				<li><a href="#">Arts</a></li>
				<li><a href="#">Music</a></li>
				<li><a href="#">Pset</a></li>
			</ul>
		</div>
		<div class="form-group">
			<label for="date" ng-model="dateInput">Date:</label>
			<input type="date" class="form-control" id="time">
		</div>
		<div class="form-group">
			<label for="time" ng-model="timeInput">Time:</label>
			<input type="time" class="form-control" id="time">
		</div>
		<div class="form-group">
			<label for="description" ng-model="descriptionInput">Description:</label>
			<input type="description" class="form-control" id="description" size="100">
		</div>
		
		<button type="submit" class="btn btn-default">Create</button>
	</form>
</body>
</html>
