<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  		<!-- load angular -->
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  		<script src="/core.js"></script>
	</head>

	<body ng-app="hackmit2015" ng-controller="mainController">
		<div signin ng-hide="isLoggedIn"></div>
		
		
		
		<div navbar ng-show="isLoggedIn"></div>
		<div homeMain ng-show="isLoggedIn"></div>
		<div profile ng-show="isLoggedIn"></div>
		
	</body>

	<!-- Other angular scripts -->
	<script src="/mainController.js"></script>
	<script src="/signinDirective.js"></script>
	<script src="/navBarDirective.js"></script>
	<script src="/homeMainDirective.js"></script>
	<script src="/profileDirective.js"></script>
</html>
