<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  		<!-- load angular -->
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  		<script src="/core.js"></script>
  		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/map"></script>
  		<!--<style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>-->
	</head>

	<body ng-app="hackmit2015" ng-controller="mainController">
		<div signin ng-hide="isLoggedIn"></div>
		
		<div navbar ng-show="isLoggedIn"></div>
		<div home-main ng-show="isLoggedIn&&userTab===0"></div>
		<map ng-show="go||(isLoggedIn&&userTab===0)" zoom="11" center="[40.74, -74.18]">
  <marker position="[40.74, -74.18]" />
  <shape name="circle" radius="400" center="[40.74,-74.18]" radius="4000" />
  <control name="overviewMap" opened="true" />
</map>`  
		<div profile ng-show="isLoggedIn&&userTab===1"></div>
		<div create-event ng-show="isLoggedIn&&userTab===2"></div>
		
	</body>

	<!-- Other angular scripts -->
	<script src="/mainController.js"></script>
	<script src="/signinDirective.js"></script>
	<script src="/navBarDirective.js"></script>
	<script src="/homeMainDirective.js"></script>
	<script src="/profileDirective.js"></script>
	<script src="/createEventDirective.js"></script>
	<!--<script src="/maps"></script>
	<script src="/logger"></script>-->
	
</html>
