<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  		<!-- load angular -->
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  		<script src="/core.js"></script>
	</head>

	<body ng-app="hackmit2015" ng-controller="mainController">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">ForeverAloneEvents</a>
		    </div>
		    <div>
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Profile</a></li>
		        <li><a href="#">Create an Event</a></li>
		        <li><form class="form-inline" role="form"><input type="text" class="form-control" id="usr"></form></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<h3 ng-show="showBob"> {{ name }}</h3>
		<button ng-click="toggleBob()"> Hide Bob </button>
		Enter a name for Bob's friend: <input ng-model="friend"></input>
		<h4 ng-hide="friend">Bob has no friends</h4>
		<h4 ng-show="friend">Bob has a friend named {{friend}}</h4>
		<div signin ng-show="showBob"></div>
	</body>

	<!-- Other angular scripts -->
	<script src="/mainController.js"></script>
	<script src="/signinDirective.js"></script>
</html>