<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">ForeverAloneEvents</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Profile</a></li>
					<li><a href="#">Create an Event</a></li>
					<li><form class="form-inline" role="form"><input type="text" class="form-control" id="usr"></form></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>