<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header" ng-click="clickUserTab(0)">
				<a class="navbar-brand" href="#">NeverAlone</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="{{isUserTab(1)}}" id="1" ng-click="clickUserTab(1)"><a href="#">Profile</a></li>
					<li class="{{isUserTab(2)}}" ng-click="clickUserTab(2)"><a href="#" id="2">Create an Event</a></li>
				</ul>
				<ul class = "nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" ng-model="searchText">
							</div>
							<button type="button" class="btn btn-default" ng-click="userTab=3;getEvents()">
									<span class="glyphicon glyphicon-search"></span> Search
							</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>
