<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styleProfile">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h2>Hello, {{userData.firstName}}!</h2>
      </div>
      <div class="col-md-8">
        <button type="button" class="btn btn-info btn-lg" ng-click="clickUserTab(2)">Host an event</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h4>Interests</h4></div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="interest in userData.interests">{{interest}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <img class="thumbnail center-block" src="https://scontent.xx.fbcdn.net/hphotos-xat1/v/t34.0-12/12030659_901626583224347_1848126269_n.jpg?oh=a813885dd4e9acddf5132e9339313dd9&oe=56005B1A" style="width:250px;height:250px">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h4>Events Attending</h4></div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">This time</li>
            <li class="list-group-item">Blah</li>
            <li class="list-group-item">JDKLFASF;</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 center-block">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h4>Events You're Hosting</h4></div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">This time</li>
            <li class="list-group-item">Blah</li>
            <li class="list-group-item">JDKLFASF;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
