<!DOCTYPE html>
<html>
<body>
	<!-- events is the list containing all upcoming events, and searchText is the
	text from the search box-->
	<h4> Search Results! </h4>
	<div ng-repeat="event in events | filter:searchText">
		<div class="row">
			<table>
				{{event}}
				<tr><th class="col-md-3">{{event.name}}</th><th class="col-md-3">{{event.date}}</th><th class="col-md-3">event.time</th></tr>
				<tr><th>{{event.category}}</th><th><button>Join</button></th></tr>
				<tr><th>{{event.address}}</th></tr>
				<tr><th>{{event.description}}</th></tr>
			<!--
			<table class="table table-striped">
				<tr>
				    <th>{{event.name}}</th>
				    <th>{{event.date}}</th> 
				    <th>{{event.time}}</th>
				    <th>{{event.category}}</th>
				    <th><button>Join</button></th>
				</tr>
				<table>-->	
				</table>
				
			</div>
		</body>
		</html>