<!DOCTYPE html>
<html>
<body>
	<!-- events is the list containing all upcoming events, and searchText is the
	text from the search box-->
	<h4> Search Results! </h4>
	<div class="panel panel-default">
  		<div class="panel-body">
			<div class="container">
				<!--
				<table class="table table-striped">
					<tr>
					    <th>{{event.name}}</th>
					    <th>{{event.date}}</th> 
					    <th>{{event.time}}</th>
					    <th>{{event.category}}</th>
					    <th><button>Join</button></th>
					</tr>
				<table>-->
				<table class="table table-striped">
					<div ng-repeat="event in events | filter:searchText">
						<tr><th class="col-md-3">{{event.name}}</th><th class="col-md-3">{{event.date}}</th><th class="col-md-3">{{event.time}}</th>
						<th>{{event.category}}</th><th><button>Join</button></th></tr>
					</div>
					<!--<tr><th>{{event.description}}</th></tr>-->
				</table>
			</div>
		</div>
	</div>
</body>
</html>
