h1{
    font-family: 'Papyrus';
    font-size: 500%;
}

body {
	background: url('http://www.hungryforchange.tv/images/happypeople.jpg');
	background-size: 100%;
}

button {
	color: blue;
}

.panel {
   background: rgba(152, 219, 201, 0.5);
}